@using CAPTimeTableIT.Helpers;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        .logo {
            display: block;
            width: 10em;
        }
        hr.signature-line {
            border-top: 1px dashed;
            width: 32em;
            float: left;
        }

        .clear {
            clear: both;
        }

        body {
            font-size: 1.2em;
        }

        .footer {
            font-size: 0.9em;
        }

        .title {
            font-size: 1.8em;
        }

        .mt {
            margin-top: 1em;
        }

        .ml {
            margin-left: 1em;
        }
    </style>
</head>
<body>
    @*<h1 class="title"><img src="cid:logoTeam" class="logo" alt="Phân công giảng dạy"></h1>*@
    @RenderBody()
    <div>
        <hr align="left" class="signature-line" />
    </div>
    <div class="clear" style="display: inline-block;"></div>
    <table style="font-size:medium;font-family:Times New Roman;text-align:left;background-color:white;width:770px;border-collapse:collapse;max-width:100%;border:1px solid white;">
        <tbody>
            <tr>
                <td style="min-width: 5px; border: 0px solid white; width: 110px">
                    <img src="cid:logo" width="110" height="100" style="width: 110px; height: 100px; display: inline-block; vertical-align: bottom; margin-left: 5px; margin-right: 5px" />
                </td>
                <td>
                    <div class="ml footer">
                        <div><b>Website Phân Công Giảng Dạy</b></div>
                        <div>CAPSTONE Team 01 - Khoa CNTT</div>
                        <div>Phân công giảng dạy: <a href="@AppSettingHelper.Instance.HomePageUrl">@AppSettingHelper.Instance.HomePageUrl</a></div>
                        <div>Website Đại học Văn Lang: <a href="@AppSettingHelper.Instance.UniversityWebsiteUrl">@AppSettingHelper.Instance.UniversityWebsiteUrl</a></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>