@model CAPTimeTableIT.Models.Models.RoleModel

@{
    ViewBag.Title = "Phân Quyền";
    var roles = ViewBag.Roles as SelectList;
    string userId = ViewBag.UserId;
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href=@Url.Action("Index", "Home")>Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Phân quyền</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="card-box mb-30">

                <div class="pb-20">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="userId" value="@userId" />
                        @Html.Hidden("oldRoleId", Model.Id)
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group" style="font-size:25px">
                                @Html.Label("Role", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("RoleId", roles, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Phân quyền" onclick="return confirm('Bạn có muốn phân quyền cho người dùng này?')" class="btn btn-outline-primary" /> |
                                    <a href="@Url.Action("Index", "AspNetUsers")">Quay lại</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>