@model List<CAPTimeTableIT.Domain.Subject>

@{
    ViewBag.Title = "Danh sách môn học";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href=@Url.Action("Index", "Subject")>Danh sách môn học</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                <h4 class="text-blue h4">Danh sách môn học</h4>
                <br />
                <table class="table data-table-statistic hover nowrap">
                    <thead>
                        <tr>
                            <th class="export">Môn học</th>
                            <th class="export">Mã môn học</th>
                            <th class="export">Mô tả</th>
                            <th class="table-plus datatable-nosort">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in Model)
                        {
                            <tr>
                                <td id="subject-@subject.Id">
                                    @subject.Name
                                </td>
                                <td>
                                    @subject.SubjectCode
                                </td>
                                <td>
                                    @subject.Description
                                </td>
                                <td>
                                    <a href="@Url.Action("EditSubject", new { id = subject.Id })">Cập nhật</a>
                                    @*<a href="#" class="btnDelete" tmp-value="@subject.Id">Xóa môn học</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
